$nav-height: 4rem;
$full-height: calc(100dvh - $nav-height);

$component-border-radius: .5rem;

@mixin component-item-props {
  &:hover {
    background-color: darkgray;
  }

  &:first-child {
    border-top-left-radius: $component-border-radius;
    border-top-right-radius: $component-border-radius;
  }

  &:last-child {
    border-bottom-left-radius: $component-border-radius;
    border-bottom-right-radius: $component-border-radius;
  }
}

:root {
  --nav-height: #{$nav-height};
  --full-height: #{$full-height};
}

.fx-btn.fx-btn-primary.fx-btn-link {
  --fx-btn-padding-x: 0;
  --fx-btn-padding-y: 0;
  --fx-btn-color: var(--fx-primary);
  --fx-btn-bg: transparent;
  --fx-btn-border-color: none;
  --fx-btn-hover-color: var(--fx-primary-dark);
  --fx-btn-hover-bg: transparent;
  --fx-btn-hover-border-color: transparent;
  /* --fx-btn-focus-shadow-rgb: 49, 132, 253; */
  --fx-btn-active-color: var(--fx-primary-dark);
  --fx-btn-active-bg: transparent;
  --fx-btn-active-border-color: transparent;
  /* --fx-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); */
  --fx-btn-disabled-color: var(--fx-primary);
  /* --fx-btn-disabled-bg: transparent; */
  /* --fx-btn-disabled-border-color: var(--fx-primary); */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  width: 100%;

  input {
    &[type="search"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 1rem;
      outline: none;
      border: 1px solid lightgrey;
      border-radius: .5rem;

      &:focus {
        border-color: var(--fx-primary);
      }

      &#new_chat {
        width: 90%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @media (min-width: 1200px) {
          width: 50%;
        }
      }
    }
  }
}

main {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
}

a {
  text-decoration: none;

  &.disabled {
    pointer-events: none;
  }
}

button {
  cursor: pointer;
}

#auth-section {
  min-height: 100dvh;
  display: flex;

  .form-wrapper {
    margin: auto;
    width: 100%;

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 50%;
    }

    @media (min-width: 1200px) {
      width: 40%;
    }

    @media (min-width: 1400px) {
      width: 30%;
    }
  }
}

#add-chat-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: inherit;

    .content {
      margin: auto;
    }
  }
}

.container-fluid {
  padding-left: .5rem;
  padding-right: .5rem;
}

.icon-text {
  display: flex;
  align-items: center;

  i {
    width: 24px;
    //margin-right: ;
  }
}

.space-items {
  justify-content: space-between;

  @media (min-width: 992px) {
    justify-content: space-around;
  }
}

.rounded-circle {
  border-radius: 50%;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;

  .nav-item {
    height: 100%;
    margin-right: 2.5rem;

    .nav-link {
      height: 100%;
      padding: 0 .2rem;
      display: inline-flex;
      align-items: center;


      &.responsive {
        > *:first-child {
          display: none;
        }

        @media (min-width: 768px) {

          > * {
            &:first-child {
              display: unset;
            }

            &:last-child {
              display: none;
            }
          }
        }
      }
    }

    @media (min-width: 768px) {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

  }
}

.btn-submit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn-text:is(:first-child) {
    margin-right: .5rem
  }

  .btn-text:is(:last-child) {
    margin-left: .5rem
  }
}

.dropdown {
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  z-index: 10;

  .dropdown-toggler {
    pointer-events: none;
  }

  .dropdown-menu {
    display: none;
    cursor: default;
    position: absolute;
    top: 110%;
    border-radius: .5rem;
    min-width: 200px;
    border: 1px solid #ccc;
    background-color: gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    &::before {
      content: "";
      position: absolute;
      bottom: 100%; /* move above the box */
      left: 5px; /* adjust to align with button */
      border-width: 9px;
      border-style: solid;
      border-color: transparent transparent gray transparent; /* arrow color */
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 100%; /* slightly behind */
      left: 5px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent gray transparent; /* arrow border */
    }

    &.dropdown-menu-right {
      right: 0;

      &::before {
        right: 5px; /* adjust to align with button */
        left: unset;
      }

      &::after {
        right: 5px;
        left: unset;
      }
    }

    .dropdown-menu-item {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: white;

      @include component-item-props
    }
  }
}

.navbar {
  display: flex;
  padding: 0 .5rem;
  align-items: center;
  height: var(--nav-height);
  border-bottom: 1px solid grey;

  .dropdown-menu {
    &.full-menu {
      max-height: calc(var(--full-height) / 1.5);
    }
  }

  @media (min-width: 992px) {
    // padding: 0.5rem 1rem;
  }
}

.profile-img {
  height: 50px;
  width: 50px;
  background: grey;
}

.chat-wrapper {
  display: flex;
  height: 100%;
  position: relative;

  > * {
    background-color: white;

    &:not(:first-child) {
      @media (min-width: 992px) {
        // border-left: 1px solid black;
      }
    }
  }

  > .left-menu {
    .left-menu-header {
      margin: 0;
      display: flex;
      flex-direction: column;

      .section {
        margin: 0;
        display: flex;
        padding: .5rem;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
        }
      }
    }

    @media (min-width: 768px) {
      border-right: 1px solid black;
    }
  }
}

.left-menu {
  &-toggler {
    &.active {
      border-bottom: 2px solid black;
    }
  }

  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: all 0.3s;
  z-index: 1;
  border: none;
  visibility: hidden;
  // transform: translateX(-100%);

  &.active {
    // transform: translateX(0);
    z-index: 2;
    visibility: visible;
  }

  .chat-friend {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    &.active {
      background: rgba(0, 0, 0, 0.2);
    }

    &.read {
      > .chat-friend-info .message {
        font-weight: 400;
        color: gray;
      }
    }

    > .chat-friend-info {
      display: flex;
      padding-left: 0.8rem;
      flex-direction: column;
      overflow: hidden;

      .name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0.2rem;
        text-transform: capitalize;
      }

      .message {
        color: black;
        font-size: 14px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
      }

      .date {
        font-size: 12px;
        color: gray;
      }
    }
  }

  /* &#chat-requests {
      transform: transla100%;
  }
  &#chat-archives {
      right: 100%;
  } */

  @media (min-width: 768px) {
    // position: relative;
    width: 40%;
  }

  @media (min-width: 992px) {
    // position: relative;
    width: 30%;
  }

  @media (min-width: 1400px) {
    // position: relative;
    width: 20%;
  }
}

#chat-space {
  width: 100%;
  display: flex;
  // flex: 1 1 auto;
  overflow: hidden;
  flex-direction: column;

  .chat-space-body {
    height: 95%;
    overflow-y: auto;
    scrollbar-width: thin;

    .chats {
      height: 100%;
      display: flex;

      &.active {
        display: unset;

        .chat-init {
          display: none;
        }
      }

      .chat-init {
        display: unset;
      }

      .chat-top {
        display: flex;
        padding: 1rem;
        align-items: center;
        flex-direction: column;

        > * {
          display: flex;
          align-items: center;
          flex-direction: column;
        }

        .bio {
          > span {
            line-height: 1.5;
          }
        }
      }

      .chat-main {
        padding: 1rem;

        .contextmenu {
          position: absolute;
          top: 50%;
          display: none;
          flex-direction: column;
          background-color: gray;
          border-radius: $component-border-radius;

          &.to {
            left: 0;
            transform: translateX(-50%);
          }

          &.from {
            right: 0;
            transform: translateX(50%);
          }

          &.active {
            display: flex;
            z-index: 100;
          }

          > a {
            padding: 1rem;
            color: white;

            @include component-item-props;

            &:not(:last-child) {
              border-bottom: 1px solid lightgray;
            }
          }
        }
      }
    }
  }

  .chat-space-bottom {
    display: flex;
    flex: 1 0 auto;
    padding: 0.8rem 0.5rem;
    align-items: center;
    justify-content: space-between;

    form {
      width: 80%;

      textarea {
        width: 100%;
        border-radius: 5rem;
        // vertical-align: center;
        border: 1px solid black;
        padding: 0.5rem 0.2rem;
      }

      [contenteditable] {
        width: 100%;
        border-radius: 5rem;
        border: 1px solid black;
        padding: 0.5rem 3.8rem;
      }

      @media (min-width: 992px) {
        width: 90%;
      }
    }

    @media (min-width: 992px) {
      padding: 0.8rem 1rem;
    }
  }

  // @media (min-width: 992px) {
  // 	// position: relative;
  // 	width: 30%;
  // }

  // @media (min-width: 1400px) {
  // 	// position: relative;
  // 	width: 20%;
  // }

  @media (min-width: 992px) {
    width: 70%;
    margin-left: 30%;
  }

  @media (min-width: 1400px) {
    width: 80%;
    margin-left: 20%;
  }
}

#new-chat-search-wrapper {
  width: 100%;
  position: relative;
  padding: .8rem 1rem;

  #new-chat-result-wrapper {
    position: absolute;
    margin: auto;
    text-align: left;
    left: calc(5% + 1rem);
    right: calc(5% + 1rem);
    //border: 1px solid red;

    .result-item {
      color: white;
      border-radius: 0;
      display: flex;
      text-align: left;
      align-items: center;
      padding: .8rem 1rem;

      &:hover {
        background-color: lightslategray;
      }

      &:not(:last-child) {
        border-bottom: 1px solid lightgray;
      }

      &:last-child {
        border-bottom-left-radius: $component-border-radius;
        border-bottom-right-radius: $component-border-radius;
      }

      > *:not(:last-child) {
        margin-right: 1rem;
      }

      .chat-friend-info {
        display: flex;
        flex-direction: column;

        .name {
          font-weight: 700;
          font-size: 1.2rem;
          margin-bottom: 0.2rem;
          text-transform: capitalize;
        }
      }
    }

    @media (min-width: 1200px) {
      left: calc(25% + .5rem);
      right: calc(25% + .5rem);
    }
  }
}
